# Git
.git
.gitignore
.gitattributes

# Docker
Dockerfile
docker-compose.yml

# Node
node_modules
npm-debug.log
.npm

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
pip-log.txt
pip-delete-this-directory.txt
.eggs/
.egg-info/
dist/
build/

# IDEs and editors
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS-specific
.DS_Store
Thumbs.db 