absl-py==0.9.0
altair==4.1.0
appdirs==1.4.4
argcomplete==1.10.0
astor==0.8.1
astroid==2.4.1
astunparse==1.6.3
attrs==19.3.0
autopep8==1.5.3
backcall==0.1.0
base58==2.0.0
beautifulsoup4==4.8.0
bleach==3.1.5
blinker==1.4
blis==0.4.1
boto==2.49.0
boto3==1.13.15
botocore==1.16.15
cachetools==4.1.0
catalogue==1.0.0
certifi==2020.4.5.1
chardet==3.0.4
click==7.1.2
cycler==0.10.0
cymem==2.0.3
decorator==4.4.2
defusedxml==0.6.0
deprecation==2.1.0
docutils==0.15.2
docx2txt==0.8
EbookLib==0.17.1
entrypoints==0.3
enum-compat==0.0.3
extract-msg==0.23.1
ftfy==5.7
funcy==1.14
future==0.18.2
gast==0.3.3
gensim==3.8.3
grpcio==1.29.0
h5py==2.10.0
idna==2.9
IMAPClient==2.1.0
isort==4.3.21
jedi==0.17.0
Jinja2==2.11.2
jmespath==0.10.0
joblib==0.15.1
json5==0.9.4
jsonschema==3.2.0
jupyterlab==2.1.2
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
lxml==4.5.1
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
mistune==0.8.4
more-itertools==8.3.0
murmurhash==1.0.2
nltk==3.5
numexpr==2.7.1
numpy==1.18.4
pandas==1.0.3
pdfminer.six==20181108
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.1.2
plotly==4.7.1
pluggy==0.13.1
preshed==3.0.2
prometheus-client==0.7.1
prompt-toolkit==3.0.5
protobuf==3.12.1
ptyprocess==0.6.0
py==1.8.1
pyarrow==1.0.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycodestyle==2.6.0
pycryptodome==3.9.8
pydeck==0.3.1
Pygments==2.6.1
pyLDAvis==2.1.2
pylint==2.5.2
pyparsing==2.4.7
pyrsistent==0.16.0
pytest==5.4.3
python-dateutil==2.8.1
python-pptx==0.6.18
pytz==2020.1
PyYAML==5.3.1
pyzmq==19.0.1
qtconsole==4.7.4
QtPy==1.9.0
regex==2020.5.14
requests==2.23.0
requests-oauthlib==1.3.0
retrying==1.3.3
rsa==4.0
s3transfer==0.3.3
sacremoses==0.0.43
scikit-learn==0.23.1
scipy==1.4.1
seaborn==0.10.1
Send2Trash==1.5.0
sentencepiece==0.1.91
simplejson==3.17.0
six==1.12.0
smart-open==2.0.0
sortedcontainers==2.2.2
soupsieve==2.0.1
spacy==2.2.4
SpeechRecognition==3.8.1
srsly==1.0.2
streamlit==0.66.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
textdistance==4.2.0
textract==1.6.3
thinc==7.4.0
threadpoolctl==2.0.0
tokenizers==0.7.0
toml==0.10.1
toolz==0.10.0
tornado==5.1.1
tqdm==4.46.0
traitlets==4.3.3
txt2tags==3.7
tzlocal==1.5.1
umap-learn==0.4.6
uritools==3.0.0
urlextract==0.14.0
urllib3==1.25.9
validators==0.15.0
wasabi==0.6.0
watchdog==0.10.2
wcwidth==0.1.9
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wordcloud==1.8.0
wrapt==1.12.1
xlrd==1.2.0
XlsxWriter==1.3.3
